/*********************** 
    GENERAL SETTINGS
************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
    color: #FFF;
    background-color: #f57c47;
}

input::selection {
    color: #FFF;
    background-color: #f57c47;
}

span::selection {
    color: #FFF;
    background-color: #f57c47;
}

p {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    line-height: 24px;
}

p::selection {
    color: #FFF;
    background-color: #f57c47;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}


/*********************** 
    HELPER CLASSES
************************/

.p-0 {
    padding: 0!important;
}

.p-100 {
    padding: 100px!important;
}

.p-t-0 {
    padding-top: 0!important;
}

.p-t-100 {
    padding-top: 100px!important;
}

.p-t-30 {
    padding-top: 30px!important;
}

.p-b-0 {
    padding-bottom: 0!important;
}

.p-b-100 {
    padding-bottom: 100px!important;
}

.m-b-0 {
    margin-bottom: 0px!important;
}

.m-b-30 {
    margin-bottom: 30px!important;
}

.m-b-50 {
    margin-bottom: 50px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-50 {
    margin-bottom: 50px!important;
}

.m-b-100 {
    margin-bottom: 100px!important;
}

.m-b-150 {
    margin-bottom: 150px!important;
}

.m-t-0 {
    margin-top: 0px!important;
}

.m-t-70 {
    margin-top: 70px!important;
}

.m-t-30 {
    margin-top: 30px!important;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}


/*********************** 
GENERAL HEADINGS CSS
************************/

.heading-general {
    text-transform: capitalize;
    text-align: center;
}

.heading-large {
    font-size: 40px;
    font-weight: 700 !important;
    color: orangered;
    margin-top: 0px;
}

.heading-small {
    font-size: 34px;
    font-weight: 700 !important;
    color: orangered;
    margin-top: 0px;
}

.heading-primary {
    font-size: 36px;
    font-weight: 900 !important;
}

.heading-general .heading-border {
    display: inline-block;
    width: 50%;
    height: 1px;
}

.heading-general .heading-border::after {
    width: 20%;
    /*    height: 45px;*/
    content: "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 5px;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}

.heading-general .heading-border::before {
    position: relative;
    top: 0;
    display: inline-block;
    content: "";
    width: 20%;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}

.heading-left {
    text-align: none;
}

.heading-left .heading-border {
    display: inline-block;
    width: 50%;
    height: 1px;
}

.main-heading {
    font-family: 'Raleway', sans-serif;
    color: #f57c47;
    font-weight: 100;
    margin-bottom: 5px;
}

.heading-left .heading-border::after {
    width: 20%;
    /*    height: 45px;*/
    content: "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 5px;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}


/*********************** 
        BUTTONS CSS
************************/

button {
    font-size: 13px;
    border-radius: 1rem;
    padding: 1rem 4rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 700;
    margin-left: 1rem;
}

.general-btn {
    background: #f57c47;
    color: #FFF;
    border: 2px solid #f57c47;
}

.transparent-btn {
    background: #FFF;
    color: #f57c47;
    border: 2px solid #f57c47;
}

.general-btn:hover {
    color: #f57c47;
}

.transparent-btn:hover {
    color: white;
}

.transparent-btn::after {
    content: "";
    background: #f57c47;
    position: absolute;
    z-index: -1;
    padding: 1rem 4rem;
    display: block;
}

.general-btn::after {
    content: "";
    background: #FFF;
    position: absolute;
    z-index: -1;
    padding: 1rem 4rem;
    display: block;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}

button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
}


/*********************** 
        LOADER
************************/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f57c47;
    z-index: 9999;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 0 5px 0 #FFF;
    /* box-shadow: rgb(200, 110, 50) solid 10px; */
}

.uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
}

.tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/*********************** 
    NAVBAR CSS
************************/

.navbar {
    padding: 15px 0 25px 0;
    transition: 0.3s all linear;
}

.site-nav-wrapper {
    padding-left: 0px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar .navbar-nav {
    transform: translateY(50%);
}

.scrolled-navbar {
    padding: 8px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2999;
}

.white-nav-top {
    background: #FFF;
}

.green-nav-top {
    background: linear-gradient(to right, #f57c47 2%, #f57c47 82%);
    height: 60px;
}

.green-nav-top ul.navbar-nav>li>a {
    color: #FFF;
}

ul.navbar-nav>li>a {
    font-family: 'Poppins', sans-serif;
    color: #f57c47;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.2rem 0;
    min-width: 100px;
    text-align: center;
    margin-left: 6px;
}

ul.navbar-nav>li>a:focus,
ul.navbar-nav>li>a:hover {
    background: none;
    background: #022133;
    color: #fff;
    border-radius: 15px;
}

.green-nav-top ul.navbar-nav>li.active>a {
    background: #022133;
    border-radius: 15px;
}

header img {
    width: 25rem;
    height: 25rem;
    margin-top: -90px;
}


/*********************** 
        HOME CSS
************************/

.heading {
    margin-top: 9rem;
    margin-bottom: 6rem;
    line-height: 1.6;
}

#about p {
    line-height: 1.6;
    font-size: 16px;
}

#home {
    background: #FFF;
}

#home ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-left: 65rem;
}

h1 {
    color: #022133;
    margin-left: 0.8rem;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 5rem;
    margin-top: 12rem;
    font-size: 900;
}

#home .type {
    margin-top: 0 !important;
}

.home-image {
    margin-top: 3rem;
}

.highlight-heading {
    color: #f57c47;
}


/*********************** 
        Why-US CSS
************************/

#why {
    background: #EFEFEF;
    padding-bottom: 6rem;
}

.articles_grid_style {
    position: relative;
    background: #FFF;
    margin-top: 45px;
    margin-bottom: 25px;
    transition: all ease .4s;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem 1rem;
    height: 35rem;
    border-bottom: 2px solid #f57c47;
    box-shadow: -7px 9px 10px 0px rgba(179, 160, 160, 0.48);
    -webkit-box-shadow: -7px 9px 10px 0px rgba(179, 160, 160, 0.48);
    -moz-box-shadow: -7px 9px 10px 0px rgba(179, 160, 160, 0.48);
}

.articles_grid_caption {
    padding: 1rem 1rem 0;
}

.articles_grid_style:hover {
    transform: translateY(-20px);
}

.articles_grid_caption h4 {
    font-size: 17px;
}

.articles_grid_author {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#why p {
    margin: 0 0 10px;
}


/*********************** 
        STATS CSS
************************/

#stats {
    background: url('./other/stats-bg.jpg') no-repeat fixed center;
    background-size: cover;
    height: 55rem;
}

.stats-item {
    background: rgba(61, 68, 68, 0.6);
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    transition: all .4s linear;
    margin-top: 19rem;
    height: 20rem;
}


/*********************** 
        MOBILE CSS
************************/

@media (max-width:550px) {
    #about-us {
        margin-bottom: 50rem;
    }
    #about-us .tem img {
        margin-right: 7rem;
    }
    #team .item {
        width: 350px;
        height: 500px;
        margin-left: 6.5rem;
    }
    .owl-theme .owl-nav .owl-prev {
        margin-left: 30px;
    }
    .owl-theme .owl-nav .owl-next {
        margin-left: -45px;
    }
    #stats {
        height: 150rem;
    }
    .stats-item {
        background: rgba(61, 68, 68, 0.6);
        padding: 3rem 4rem;
        margin-top: 10rem;
        height: 20rem;
    }
    .home-image {
        margin-top: 3rem;
        width: 400px;
    }
    h1 {
        font-size: 35px;
    }
    #contact-us {
        height: 500px;
        margin-top: 4rem;
        ;
    }
    label {
        display: block;
        margin-left: -25rem;
    }
    .message {
        margin-left: -24rem;
    }
    .item-1 {
        /* border: 1px solid black; */
        padding: 2rem;
    }
    input {
        width: 400px;
        height: 35px;
        margin: 10px;
        padding: 10px;
        margin-left: -14rem;
        margin-bottom: 2.6rem;
        border: none;
        border-bottom: 1px solid #f57c47;
    }
    textarea {
        resize: none;
        margin: 10px;
        margin-left: -14rem;
        border: 1px solid #f57c47;
    }
    textarea:focus,
    input:focus {
        outline: none;
    }
    #contact-us img {
        /* margin-top: 60px; */
        width: 400px;
        height: 300px;
    }
}


/*********************** 
        STATS CSS
************************/

.stats-item i {
    font-size: 30px;
    color: #f57c47;
    margin: 0 0 0.6rem 0;
    transition: all .4s linear;
}

.stats-item:hover {
    background: #f57c47;
}

.stats-item:hover i {
    color: #fff;
    transform: translateY()
}

.stats-item p {
    color: #fff;
    font-size: 18px;
}

.stats-item h3 {
    color: #fff;
    font-size: 32px;
    margin: 0.6rem 0;
}


/*********************** 
        SPONSORS CSS
************************/

#clients {
    background-color: #EFEFEF;
    margin-top: 200px;
}

#clients h5 {
    /*font-size: 16px;*/
    text-transform: uppercase;
}

#clients h2 {
    /*    font-size: 48px;*/
    text-transform: capitalize;
}

#clients cols {
    margin: 0 15px;
}

#clients img {
    width: 180px;
    height: 140px;
}

#clients {
    margin-top: 6rem;
}


/*********************** 
    TWEAKING BOOTSTRAP
************************/

.no-gutters[class*=col-] {
    padding: 0 !important;
}


/*********************** 
    PORTFOLIO SECTION
************************/

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    transition: all .4s ease;
}

.portfolio-item-overlay {
    position: absolute;
    background: rgba(92, 147, 32, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease;
}

.portfolio-overlay-details {
    position: absolute;
    width: 100%;
    /*as absolute elements are inline*/
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-overlay-details h3 {
    margin: 0;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-20%);
    transition: all .4s ease;
}

.portfolio-overlay-details span {
    display: inline-block;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 6px;
    width: 30px;
    margin: 10px auto;
}

.portfolio-overlay-details p {
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    transition: all .4s ease;
}


/*********************** 
PORTFOLIO HOVER CSS
************************/

.portfolio-item:hover img {
    transform: scale(1.2);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-overlay-details h3 {
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-overlay-details p {
    transform: translateY(0);
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    transition: all .5s ease;
    width: 700px;
    height: 300px;
}

.portfolio-item:hover img {
    transform: scale(1.2);
    cursor: zoom-in;
}


/*********************** 
    ISOTOPES CSS
************************/

#isotope-filters button {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    background: transparent;
    padding-right: 35px;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
    transition: border-color .4s ease;
}

#isotope-filters button.active span {
    color: #f57c47;
    border-bottom: solid 3px #f57c47;
}


/*********************** 
    SCROLLBAR COLOR CSS
************************/

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px gray;
    border-radius: 3px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #f57c47;
    border-radius: 3px;
}


/*********************** 
    LINE ICON SETTING
************************/

[class*='lni-'] {
    display: inline-block;
}


/*********************** 
        CONTACT US
************************/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #FEFEFE;
    padding: 25px;
    margin-top: 65px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #f57c47;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #FFF;
    color: #f57c47;
    border: solid 2px #f57c47;
    font-weight: bolder;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

#contact-us-form .contact-us-img {
    width: 400px;
    height: 300px;
    margin-top: 100px;
}


/*********************** 
    TEAM SECTION
************************/

#team {
    background-color: #FFF;
    height: 600px;
}

.our-team {
    padding: 30px 0 40px;
    background: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    box-shadow: -7px 9px 10px 0px rgba(179, 160, 160, 0.48);
    -webkit-box-shadow: -7px 9px 10px 0px rgba(179, 160, 160, 0.48);
    -moz-box-shadow: -7px 9px 10px 0px rgba(179, 160, 160, 0.48);
}

.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .pic:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #f57c47;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic:before {
    height: 100%;
}

.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f57c47;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .team-content {
    margin-bottom: 30px;
}

.our-team .title {
    font-size: 24px;
    font-weight: 700;
    color: #212226;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: -2rem;
}

.our-team p {
    text-align: justify;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #212226;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f57c47;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
    color: #f57c47;
    background: #f7f5ec;
    text-decoration: none;
}

#team .item {
    width: 300px;
    height: 500px;
}

#team .item {
    position: relative;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #212229;
    font-size: 4.5rem;
    background: none;
    position: absolute;
    top: 40%;
}

.owl-theme .owl-nav .owl-prev {
    left: -5%;
}

.owl-theme .owl-nav .owl-next {
    left: 96%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #f57c47;
}


/*********************** 
    ABOUT-US SECTION
************************/

#about-us {
    margin-top: 105px;
    height: 600px;
    background-color: #FFF;
}

#about-us .about-us-paragraph {
    line-height: 1.6;
    display: flex;
    margin-top: 70px;
    text-align: justify;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #022133;
    margin-bottom: 30px;
}

#owl-demo .item img {
    width: 90%;
    height: 290px;
    display: block;
    margin-top: 7.5rem;
    margin-left: auto;
    margin-right: auto;
}

#about-us .general-btn {
    display: block;
    margin-top: 30px;
    margin-left: -3px;
}


/*********************** 
    NAVBAR CSS
************************/

.navbar {
    padding: 15px 0 25px 0;
    transition: 0.3s all linear;
}

.site-nav-wrapper {
    padding-left: 0px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar .navbar-nav {
    transform: translateY(50%);
}

.scrolled-navbar {
    padding: 8px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2999;
}

.white-nav-top {
    background: #FFF;
}

.green-nav-top {
    background: linear-gradient(to right, #f57c47 2%, #f57c47 82%);
    height: 60px;
}

.green-nav-top ul.navbar-nav>li>a {
    color: #FFF;
}

ul.navbar-nav>li>a {
    font-family: 'Poppins', sans-serif;
    color: #f57c47;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.2rem 0;
    min-width: 100px;
    text-align: center;
    margin-left: 6px;
}

ul.navbar-nav>li>a:focus,
ul.navbar-nav>li>a:hover {
    background: none;
    background: #022133;
    border-radius: 15px;
}

.green-nav-top ul.navbar-nav>li.active>a {
    background: #022133;
    border-radius: 15px;
}

header img {
    width: 25rem;
    height: 25rem;
    margin-top: -90px;
}


/*********************** 
    MOBILE-NAVBAR CSS 
************************/

.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    color: #FFF;
    font-size: 30px;
    right: 10px;
    display: none;
}

#mobile-nav {
    height: 0;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #fff;
    transition: all .3s linear;
}

#mobile-nav-close-btn {
    display: none;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 5px;
    color: #212226;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

#mobile-nav-close-btn:hover {
    color: #f57c47;
}

.mobile-nav-content {
    display: none;
    text-align: left;
    margin-top: 30px;
    position: relative;
    top: 10%;
    /*    width: 50%;*/
}

.mobile-nav-content li {
    margin-bottom: 10px;
}

.mobile-nav-content a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #212226;
    font-weight: 200;
    text-transform: uppercase;
    transition: all .3s linear;
}

.mobile-nav-content li a:hover,
.mobile-nav-content li a:focus {
    color: #f57c47;
    background: none;
}

.green-nav-top #mobile-nav ul.mobile-nav-content li.active>a {
    color: #f57c47;
    font-weight: 500;
}

.home-heading {
    font-size: 2.5rem;
}

@media(max-width: 550px) {
    .home-heading {
        font-size: 2.1rem;
    }
}


/**********************
    MOBILE CSS
*********************/

@media(max-width: 550px) {
    .articles_grid_caption {
        text-align: left;
        margin-top: 1rem;
        height: 100%;
        height: 700rem;
    }
    .articles_grid_caption {
        padding-bottom: 10px;
    }
    .img-fluid {
        height: 200px;
    }
    .articles_grid_style:hover {
        transform: none;
    }
    #mobile-nav-open-btn {
        display: block;
    }
}


/*********************** 
    FOOTER SECTION
************************/

.p-l {
    padding-left: 70px;
}

.p-t-40 {
    padding-top: 50px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-10 {
    padding-left: 40px;
}

.fs-10 {
    font-size: 10px;
    font-weight: 100;
}

.icons-footer {
    display: inline-block;
}

.icons-footer li {
    display: inline;
}

.icons-circle-black {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: solid 1px #333;
    background-color: #333;
    text-align: center;
    padding-top: 5px;
}

.icons-circle-black:hover {
    background-color: #FFF;
    color: #333;
}

.useful {
    font-size: 16px;
    font-weight: 600!important;
}

.link-pg li {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 400;
    /*    color: #FFF;*/
}

.links li {
    display: inline;
}

.border-sm {
    border: solid 0.8px #ccc;
}

.border-sm-mid {
    border: solid 0.5px #ccc;
}

.p-l-5 {
    padding-left: 17px;
}

.p-b-10 {
    padding-top: 0;
    padding-bottom: 20px;
}

.background-dark-black {
    margin: 0;
    padding: 0;
    background-color: #f57c47;
}

.link {
    padding: 5px;
}

.link:hover {
    color: #FFF;
    cursor: pointer;
}

n .text {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 500px;
}

footer .fa {
    font-size: 10px!important;
}

.background-black {
    /*    background-color: #270d02;*/
    background-color: #2E4052;
    color: #FFF;
    ;
}

.button-primary {
    background-color: #B3DD37;
    color: #FFF;
    cursor: pointer;
    border: solid 2px #B3DD37;
    padding: 8px 17px;
}

.button-primary:hover {
    background-color: #FFF;
    color: #B3DD37;
    border: solid 2px #B3DD37;
}

.btn-white {
    padding: 0;
    background-color: #fabffa;
    color: #272824;
    cursor: pointer;
}

#address {
    padding: 0;
    margin: 0;
    min-width: 100%;
}


/*********************** 
BACK-TO-TOP BUTON CSS
************************/

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    background-color: #f57c47;
    color: #fff;
    border: solid 2px#fff;
    font-size: 25px;
    padding: 2px 13px;
    z-index: 99999;
}